.venv/*
MySQL/docker/data/*
Python3/jupyter/.ipynb_checkpoints/*
.idea/*

Neo4j/docker/neo4j/data/*
Neo4j/docker/neo4j/logs/*
Neo4j/jupyter/.ipynb_checkpoints/*
Neo4j/jupyter/.env
Neo4j/.env

Posgre/docker/.env
Posgre/docker/db/*
